{{ define "main" }}


<style>
 

   

    

    .carda {
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
       
        margin: 10px;
        cursor: pointer;

    }

    .carda:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }

    .carda h3 {
        font-weight: 600;

    }

    .carda img {
        position: absolute;
        top: 20px;
        right: 15px;
        max-height: 120px;
    }


    .carda-3 {
        
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        
    }

    @media(max-width: 990px) {
        .carda {
            margin: 20px;
        }
    }

    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }

    .modal-body {
        position: relative;
        padding: 0px;
    }

    .btn-close {
        position: absolute;
        right: -30px;
        top: 0;
    }
  
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
{{ $dataeporner := getJSON
"https://www.eporner.com/api/v2/video/search/?query=asian+sister&per_page=10&page=1&thumbsize=big&order=top-weekly&lq=1&format=json"
}}
{{ range $index, $val := $dataeporner.videos }}
<section class="container">
    
    <div class="col-lg-10" style="font-family: 'Kanit' ,sans-serif;">
        <div class="gallery">
                <a href="#" data-src="{{ .embed }}" data-lightbox="homePortfolio" class="video-btn"
                    data-bs-toggle="modal" data-bs-target="#myModal">
                    <img class="carda carda-3" src="{{ .default_thumb.src }}" alt="100เรื่อง {{ .title | truncate 20 }}">
                    <br />
            </div>
        </div>
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                        allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var $videoSrc;
        $('.video-btn').click(function () {
            $videoSrc = $(this).data("src");
        });
        console.log($videoSrc);
        $('#myModal').on('shown.bs.modal', function (e) {
            $("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
        })
        $('#myModal').on('hide.bs.modal', function (e) {
            // a poor man's stop video
            $("#video").attr('src', $videoSrc);
        })
    });

</script>


{{ end }}
{{ end }}