<style>
    .display-3{
       font-size: medium;
      }
      
</style>
<script src="https://captionatorjs.com/git/js/captionator_0_5.js"></script>
    <script type="text/javascript">
        window.addEventListener("load",function(eventData) {
            captionator.captionify();
        });
       
    </script>
<link href="https://cdn.jsdelivr.net/gh/BMSVieira/moovie.js@latest/css/moovie.min.css" rel="stylesheet">
  <video id="example"
  poster="{{ site.BaseURL }}/images/2588755.jpg"
  controls>
  <source
      src="{{ .Get "src" }}"
      type="video/mp4">
   
</video>
  
  <script src="https://cdn.jsdelivr.net/gh/BMSVieira/moovie.js@latest/js/moovie.min.js"></script>
  <script>
    captionator.captionify("#example","th")
      var demo1 = new Moovie({
          selector: "#example",
          dimensions: {
              width: "100%"
          },
          config: {
              storage: {
                  captionOffset: false,
                  playrateSpeed: false,
                  captionSize: false
              },
              controls: {
                  playtime: false,
                  volume: false,
                  subtitles: false,
                  fullscreen: false,
                  submenuCaptions: false,
                  submenuOffset: false,
                  allowLocalSubtitles: false
              }
          },
          icons: {
              path: "https://raw.githubusercontent.com/BMSVieira/moovie.js/main/icons/"
          }
      });
  </script>